WebContent/WEB-INF/schemas/config/ows/schema4.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.opengis.net/ows/1.1" xmlns:ns1="http://www.w3.org/1999/xlink" xmlns:tns="http://www.opengis.net/ows/1.1" xmlns:ows="http://www.opengis.net/ows/1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="schema1.xsd"/>

  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="schema2.xsd"/>

  <xs:element name="Abstract" type="tns:LanguageStringType"/>

  <xs:element name="AbstractMetaData" type="xs:anyType"/>

  <xs:element name="AbstractReferenceBase" type="tns:AbstractReferenceBaseType"/>

  <xs:element name="AccessConstraints" type="xs:string"/>

  <xs:element name="AllowedValues">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Value" type="tns:ValueType"/>
          <xs:element name="Range" type="tns:RangeType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="AnyValue">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="AvailableCRS" type="xs:string"/>

  <xs:element name="BoundingBox" type="tns:BoundingBoxType"/>

  <xs:element name="ContactInfo" type="tns:ContactType"/>

  <xs:element name="DCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:HTTP" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="DataType" type="tns:DomainMetadataType"/>

  <xs:element name="DatasetDescriptionSummary" type="tns:DatasetDescriptionSummaryBaseType"/>

  <xs:element name="DefaultValue" type="tns:ValueType"/>

  <xs:element name="Exception" type="tns:ExceptionType"/>

  <xs:element name="ExceptionReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Exception" type="tns:ExceptionType" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required"/>
      <xs:attribute ref="xml:lang"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="ExtendedCapabilities" type="xs:anyType"/>

  <xs:element name="Fees" type="xs:string"/>

  <xs:element name="GetCapabilities" type="tns:GetCapabilitiesType"/>

  <xs:element name="GetResourceByID" type="tns:GetResourceByIdType"/>

  <xs:element name="HTTP">
    <xs:complexType>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="unbounded">
          <xs:element name="Get" type="tns:RequestMethodType"/>
          <xs:element name="Post" type="tns:RequestMethodType"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="Identifier" type="tns:CodeType"/>

  <xs:element name="IndividualName" type="xs:string"/>

  <xs:element name="InputData" type="tns:ManifestType"/>

  <xs:element name="Keywords" type="tns:KeywordsType"/>

  <xs:element name="Language" type="xs:string"/>

  <xs:element name="Manifest" type="tns:ManifestType"/>

  <xs:element name="MaximumValue" type="tns:ValueType"/>

  <xs:element name="Meaning" type="tns:DomainMetadataType"/>

  <xs:element name="Metadata" type="tns:MetadataType"/>

  <xs:element name="MinimumValue" type="tns:ValueType"/>

  <xs:element name="NoValues">
    <xs:complexType>
      <xs:sequence/>
    </xs:complexType>
  </xs:element>

  <xs:element name="Operation">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:DCP" maxOccurs="unbounded"/>
        <xs:element name="Parameter" type="tns:DomainType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Constraint" type="tns:DomainType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Metadata" type="tns:MetadataType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="name" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="OperationResponse" type="tns:ManifestType"/>

  <xs:element name="OperationsMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="tns:Operation" maxOccurs="unbounded"/>
        <xs:element name="Parameter" type="tns:DomainType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="Constraint" type="tns:DomainType" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element name="ExtendedCapabilities" type="xs:anyType" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="OrganisationName" type="xs:string"/>

  <xs:element name="OtherSource" type="tns:MetadataType"/>

  <xs:element name="OutputFormat" type="xs:string"/>

  <xs:element name="PointOfContact" type="tns:ResponsiblePartyType"/>

  <xs:element name="PositionName" type="xs:string"/>

  <xs:element name="Range" type="tns:RangeType"/>

  <xs:element name="Reference" type="tns:ReferenceType"/>

  <xs:element name="ReferenceGroup" type="tns:ReferenceGroupType"/>

  <xs:element name="ReferenceSystem" type="tns:DomainMetadataType"/>

  <xs:element name="Resource" type="xs:anyType"/>

  <xs:element name="Role" type="tns:CodeType"/>

  <xs:element name="ServiceIdentification">
    <xs:complexType>
      <xs:complexContent>
        <xs:extension base="tns:DescriptionType">
          <xs:sequence>
            <xs:element name="ServiceType" type="tns:CodeType"/>
            <xs:element name="ServiceTypeVersion" type="xs:string" maxOccurs="unbounded"/>
            <xs:element name="Profile" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="Fees" type="xs:string" minOccurs="0"/>
            <xs:element name="AccessConstraints" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="ServiceProvider">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ProviderName" type="xs:string"/>
        <xs:element name="ProviderSite" type="tns:OnlineResourceType" minOccurs="0"/>
        <xs:element name="ServiceContact" type="tns:ResponsiblePartySubsetType"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="ServiceReference" type="tns:ServiceReferenceType"/>

  <xs:element name="Spacing" type="tns:ValueType"/>

  <xs:element name="SupportedCRS" type="xs:string"/>

  <xs:element name="Title" type="tns:LanguageStringType"/>

  <xs:element name="UOM" type="tns:DomainMetadataType"/>

  <xs:element name="Value" type="tns:ValueType"/>

  <xs:element name="ValuesReference">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute ref="tns:reference" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>

  <xs:element name="WGS84BoundingBox" type="tns:WGS84BoundingBoxType"/>

  <xs:complexType name="DescriptionType">
    <xs:sequence>
      <xs:element name="Title" type="tns:LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Abstract" type="tns:LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Keywords" type="tns:KeywordsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CodeType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="codeSpace" type="xs:anyURI"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="LanguageStringType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="xml:lang"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="KeywordsType">
    <xs:sequence>
      <xs:element name="Keyword" type="tns:LanguageStringType" maxOccurs="unbounded"/>
      <xs:element name="Type" type="tns:CodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatasetDescriptionSummaryBaseType">
    <xs:complexContent>
      <xs:extension base="tns:DescriptionType">
        <xs:sequence>
          <xs:element name="WGS84BoundingBox" type="tns:WGS84BoundingBoxType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Identifier" type="tns:CodeType"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="tns:BoundingBox"/>
            <xs:element ref="tns:WGS84BoundingBox"/>
          </xs:choice>
          <xs:element name="Metadata" type="tns:MetadataType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="DatasetDescriptionSummary" type="tns:DatasetDescriptionSummaryBaseType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="WGS84BoundingBoxType">
    <xs:complexContent>
      <xs:extension base="tns:BoundingBoxType">
        <xs:sequence/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BoundingBoxType">
    <xs:sequence>
      <xs:element name="LowerCorner" minOccurs="0">
        <xs:simpleType>
          <xs:list itemType="xs:double"/>
        </xs:simpleType>
      </xs:element>
      <xs:element name="UpperCorner" minOccurs="0">
        <xs:simpleType>
          <xs:list itemType="xs:double"/>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="crs" type="xs:anyURI"/>
    <xs:attribute name="dimensions" type="xs:positiveInteger"/>
  </xs:complexType>

  <xs:complexType name="ExceptionType">
    <xs:sequence>
      <xs:element name="ExceptionText" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="exceptionCode" type="xs:string" use="required"/>
    <xs:attribute name="locator" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="DomainType">
    <xs:complexContent>
      <xs:extension base="tns:UnNamedDomainType">
        <xs:sequence/>
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="UnNamedDomainType">
    <xs:sequence>
      <xs:element ref="tns:AllowedValues" minOccurs="0"/>
      <xs:element ref="tns:AnyValue" minOccurs="0"/>
      <xs:element ref="tns:NoValues" minOccurs="0"/>
      <xs:element ref="tns:ValuesReference" minOccurs="0"/>
      <xs:element name="DefaultValue" type="tns:ValueType" minOccurs="0"/>
      <xs:element name="Meaning" type="tns:DomainMetadataType" minOccurs="0"/>
      <xs:element name="DataType" type="tns:DomainMetadataType" minOccurs="0"/>
      <xs:element name="UOM" type="tns:DomainMetadataType" minOccurs="0"/>
      <xs:element name="ReferenceSystem" type="tns:DomainMetadataType" minOccurs="0"/>
      <xs:element name="Metadata" type="tns:MetadataType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="ValueType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <xs:complexType name="RangeType">
    <xs:sequence>
      <xs:element name="MinimumValue" type="tns:ValueType" minOccurs="0"/>
      <xs:element name="MaximumValue" type="tns:ValueType" minOccurs="0"/>
      <xs:element name="Spacing" type="tns:ValueType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute ref="tns:rangeClosure"/>
  </xs:complexType>

  <xs:complexType name="DomainMetadataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute ref="tns:reference"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="MetadataType">
    <xs:sequence>
      <xs:element name="AbstractMetaData" type="xs:anyType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="about" type="xs:anyURI"/>
    <xs:attribute ref="ns1:type"/>
    <xs:attribute ref="ns1:href"/>
    <xs:attribute ref="ns1:role"/>
    <xs:attribute ref="ns1:arcrole"/>
    <xs:attribute ref="ns1:title"/>
    <xs:attribute ref="ns1:show"/>
    <xs:attribute ref="ns1:actuate"/>
  </xs:complexType>

  <xs:complexType name="RequestMethodType">
    <xs:complexContent>
      <xs:extension base="tns:OnlineResourceType">
        <xs:sequence>
          <xs:element name="Constraint" type="tns:DomainType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OnlineResourceType">
    <xs:sequence/>
    <xs:attribute ref="ns1:type"/>
    <xs:attribute ref="ns1:href"/>
    <xs:attribute ref="ns1:role"/>
    <xs:attribute ref="ns1:arcrole"/>
    <xs:attribute ref="ns1:title"/>
    <xs:attribute ref="ns1:show"/>
    <xs:attribute ref="ns1:actuate"/>
  </xs:complexType>

  <xs:complexType name="ManifestType">
    <xs:complexContent>
      <xs:extension base="tns:BasicIdentificationType">
        <xs:sequence>
          <xs:element name="ReferenceGroup" type="tns:ReferenceGroupType" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="BasicIdentificationType">
    <xs:complexContent>
      <xs:extension base="tns:DescriptionType">
        <xs:sequence>
          <xs:element name="Identifier" type="tns:CodeType" minOccurs="0"/>
          <xs:element name="Metadata" type="tns:MetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ReferenceGroupType">
    <xs:complexContent>
      <xs:extension base="tns:BasicIdentificationType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="tns:AbstractReferenceBase"/>
            <xs:element ref="tns:Reference"/>
            <xs:element ref="tns:ServiceReference"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="IdentificationType">
    <xs:complexContent>
      <xs:extension base="tns:BasicIdentificationType">
        <xs:sequence>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="tns:BoundingBox"/>
            <xs:element ref="tns:WGS84BoundingBox"/>
          </xs:choice>
          <xs:element name="OutputFormat" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element ref="tns:AvailableCRS"/>
            <xs:element ref="tns:SupportedCRS"/>
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ResponsiblePartyType">
    <xs:sequence>
      <xs:element name="IndividualName" type="xs:string" minOccurs="0"/>
      <xs:element name="OrganisationName" type="xs:string" minOccurs="0"/>
      <xs:element name="PositionName" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactInfo" type="tns:ContactType" minOccurs="0"/>
      <xs:element name="Role" type="tns:CodeType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ContactType">
    <xs:sequence>
      <xs:element name="Phone" type="tns:TelephoneType" minOccurs="0"/>
      <xs:element name="Address" type="tns:AddressType" minOccurs="0"/>
      <xs:element name="OnlineResource" type="tns:OnlineResourceType" minOccurs="0"/>
      <xs:element name="HoursOfService" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactInstructions" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="TelephoneType">
    <xs:sequence>
      <xs:element name="Voice" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Facsimile" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="DeliveryPoint" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="City" type="xs:string" minOccurs="0"/>
      <xs:element name="AdministrativeArea" type="xs:string" minOccurs="0"/>
      <xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
      <xs:element name="Country" type="xs:string" minOccurs="0"/>
      <xs:element name="ElectronicMailAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ReferenceType">
    <xs:complexContent>
      <xs:extension base="tns:AbstractReferenceBaseType">
        <xs:sequence>
          <xs:element name="Identifier" type="tns:CodeType" minOccurs="0"/>
          <xs:element name="Abstract" type="tns:LanguageStringType" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="Format" type="xs:string" minOccurs="0"/>
          <xs:element name="Metadata" type="tns:MetadataType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="AbstractReferenceBaseType">
    <xs:sequence/>
    <xs:attribute ref="tns:type"/>
    <xs:attribute ref="ns1:href" use="required"/>
    <xs:attribute ref="ns1:role"/>
    <xs:attribute ref="ns1:arcrole"/>
    <xs:attribute ref="ns1:title"/>
    <xs:attribute ref="ns1:show"/>
    <xs:attribute ref="ns1:actuate"/>
  </xs:complexType>

  <xs:complexType name="ServiceReferenceType">
    <xs:complexContent>
      <xs:extension base="tns:ReferenceType">
        <xs:sequence>
          <xs:element name="RequestMessage" type="xs:anyType" minOccurs="0"/>
          <xs:element name="RequestMessageReference" type="xs:anyURI" minOccurs="0"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ResponsiblePartySubsetType">
    <xs:sequence>
      <xs:element name="IndividualName" type="xs:string" minOccurs="0"/>
      <xs:element name="PositionName" type="xs:string" minOccurs="0"/>
      <xs:element name="ContactInfo" type="tns:ContactType" minOccurs="0"/>
      <xs:element name="Role" type="tns:CodeType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetCapabilitiesType">
    <xs:sequence>
      <xs:element name="AcceptVersions" type="tns:AcceptVersionsType" minOccurs="0"/>
      <xs:element name="Sections" type="tns:SectionsType" minOccurs="0"/>
      <xs:element name="AcceptFormats" type="tns:AcceptFormatsType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="updateSequence" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="AcceptVersionsType">
    <xs:sequence>
      <xs:element name="Version" type="xs:string" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SectionsType">
    <xs:sequence>
      <xs:element name="Section" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="AcceptFormatsType">
    <xs:sequence>
      <xs:element name="OutputFormat" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetResourceByIdType">
    <xs:sequence>
      <xs:element name="ResourceID" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OutputFormat" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="service" type="xs:string" use="required"/>
    <xs:attribute name="version" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="ContentsBaseType">
    <xs:sequence>
      <xs:element name="DatasetDescriptionSummary" type="tns:DatasetDescriptionSummaryBaseType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OtherSource" type="tns:MetadataType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CapabilitiesBaseType">
    <xs:sequence>
      <xs:element ref="tns:ServiceIdentification" minOccurs="0"/>
      <xs:element ref="tns:ServiceProvider" minOccurs="0"/>
      <xs:element ref="tns:OperationsMetadata" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" use="required"/>
    <xs:attribute name="updateSequence" type="xs:string"/>
  </xs:complexType>

  <xs:attribute name="rangeClosure">
    <xs:simpleType>
      <xs:list itemType="xs:string"/>
    </xs:simpleType>
  </xs:attribute>

  <xs:attribute name="reference" type="xs:string"/>

  <xs:attribute name="type" type="xs:string"/>
</xs:schema>

