src/main/webapp/WEB-INF/schemas/config/config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.3dcitydb.org/importer-exporter/config" xmlns="http://www.3dcitydb.org/importer-exporter/config" xmlns:tns="http://www.3dcitydb.org/importer-exporter/config" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns2="http://www.opengis.net/wfs/2.0" xmlns:ns1="http://www.opengis.net/ows/1.1" xmlns:ns3="http://www.w3.org/1999/xlink">

  <xs:import namespace="http://www.opengis.net/ows/1.1" schemaLocation="ows/schema4.xsd"/>

  <xs:import namespace="http://www.opengis.net/wfs/2.0" schemaLocation="ows/schema3.xsd"/>

  <xs:import namespace="http://www.w3.org/1999/xlink" schemaLocation="ows/schema2.xsd"/>

  <xs:element name="referenceSystems" type="databaseSrsList"/>

  <xs:element name="wfs" type="WFSConfigType"/>

  <xs:complexType name="WFSConfigType">
    <xs:sequence>
      <xs:element name="capabilities" type="CapabilitiesType"/>
      <xs:element name="featureTypes" type="FeatureTypesType"/>
      <xs:element name="operations" type="OperationsType" minOccurs="0"/>
      <xs:element name="database" type="WFSDatabaseType"/>
      <xs:element name="server" type="ServiceType"/>
      <xs:element name="uidCache" type="CacheType" minOccurs="0"/>
      <xs:element name="constraints" type="ConstraintsType" minOccurs="0"/>
      <xs:element name="logging" type="LoggingType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CapabilitiesType">
    <xs:sequence>
      <xs:element name="owsMetadata" type="OWSMetadataType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OWSMetadataType">
    <xs:sequence>
      <xs:element ref="ns1:ServiceIdentification"/>
      <xs:element ref="ns1:ServiceProvider"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeatureTypesType">
    <xs:sequence>
      <xs:element name="featureType" type="FeatureTypeType" maxOccurs="unbounded"/>
      <xs:element name="adeFeatureType" type="ADEFeatureTypeType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="version" type="CityGMLVersionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeatureTypeType">
    <xs:sequence>
      <xs:element name="name" type="FeatureTypeNameType"/>
      <xs:element ref="ns2:Title" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:Abstract" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns1:Keywords" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns1:WGS84BoundingBox" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:MetadataURL" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:ExtendedDescription" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ADEFeatureTypeType">
    <xs:sequence>
      <xs:element name="name" type="ADEFeatureTypeNameType"/>
      <xs:element ref="ns2:Title" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:Abstract" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns1:Keywords" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns1:WGS84BoundingBox" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:MetadataURL" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element ref="ns2:ExtendedDescription" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ADEFeatureTypeNameType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="namespaceURI" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="CityGMLVersionType">
    <xs:simpleContent>
      <xs:extension base="CityGMLVersion">
        <xs:attribute name="isDefault" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="OperationsType">
    <xs:sequence>
      <xs:element name="requestEncoding" type="RequestEncodingType" minOccurs="0"/>
      <xs:element name="DescribeFeatureType" type="DescribeFeatureTypeOperationType" minOccurs="0"/>
      <xs:element name="GetFeature" type="GetFeatureOperationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RequestEncodingType">
    <xs:sequence>
      <xs:element name="method" type="EncodingMethodType" minOccurs="0"/>
      <xs:element name="useXMLValidation" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DescribeFeatureTypeOperationType">
    <xs:sequence>
      <xs:element name="outputFormats" type="OutputFormatListType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OutputFormatListType" final="extension restriction">
    <xs:sequence>
      <xs:element name="outputFormat" type="OutputFormatType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OutputFormatType">
    <xs:sequence>
      <xs:element name="options" type="OutputFormatOptionListType" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" use="required"/>
  </xs:complexType>

  <xs:complexType name="OutputFormatOptionListType" final="extension restriction">
    <xs:sequence>
      <xs:element name="option" type="OutputFormatOptionType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OutputFormatOptionType" final="extension restriction">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="GetFeatureOperationType">
    <xs:sequence>
      <xs:element name="outputFormats" type="OutputFormatListType" minOccurs="0"/>
      <xs:element name="useCityDBADE" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WFSDatabaseType">
    <xs:sequence>
      <xs:element ref="referenceSystems" minOccurs="0"/>
      <xs:element name="connection" type="ConnectionType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="databaseSrsList">
    <xs:sequence>
      <xs:element name="referenceSystem" type="DatabaseSrsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatabaseSrsType" final="extension restriction">
    <xs:sequence>
      <xs:element name="srid" type="xs:int"/>
      <xs:element name="gmlSrsName" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="ConnectionType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="DatabaseTypeType"/>
      <xs:element name="server" type="xs:anyURI"/>
      <xs:element name="port" type="xs:positiveInteger"/>
      <xs:element name="sid" type="xs:string"/>
      <xs:element name="schema" type="xs:string" minOccurs="0"/>
      <xs:element name="user" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="savePassword" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="loginTimeout" type="xs:int"/>
    <xs:attribute name="initialSize" type="xs:int"/>
    <xs:attribute name="maxActive" type="xs:int"/>
    <xs:attribute name="maxIdle" type="xs:int"/>
    <xs:attribute name="minIdle" type="xs:int"/>
    <xs:attribute name="maxWait" type="xs:int"/>
    <xs:attribute name="testOnBorrow" type="xs:boolean"/>
    <xs:attribute name="testOnReturn" type="xs:boolean"/>
    <xs:attribute name="testWhileIdle" type="xs:boolean"/>
    <xs:attribute name="validationQuery" type="xs:string"/>
    <xs:attribute name="validatorClassName" type="xs:string"/>
    <xs:attribute name="timeBetweenEvictionRunsMillis" type="xs:int"/>
    <xs:attribute name="numTestsPerEvictionRun" type="xs:int"/>
    <xs:attribute name="minEvictableIdleTimeMillis" type="xs:int"/>
    <xs:attribute name="removeAbandoned" type="xs:boolean"/>
    <xs:attribute name="removeAbandonedTimeout" type="xs:int"/>
    <xs:attribute name="logAbandoned" type="xs:boolean"/>
    <xs:attribute name="connectionProperties" type="xs:string"/>
    <xs:attribute name="initSQL" type="xs:string"/>
    <xs:attribute name="validationInterval" type="xs:long"/>
    <xs:attribute name="jmxEnabled" type="xs:boolean"/>
    <xs:attribute name="fairQueue" type="xs:boolean"/>
    <xs:attribute name="abandonWhenPercentageFull" type="xs:int"/>
    <xs:attribute name="maxAge" type="xs:long"/>
    <xs:attribute name="useEquals" type="xs:boolean"/>
    <xs:attribute name="suspectTimeout" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element name="externalServiceURL" type="xs:string"/>
      <xs:element name="maxParallelRequests" type="xs:int" minOccurs="0"/>
      <xs:element name="waitTimeout" type="xs:int" minOccurs="0"/>
      <xs:element name="enableCORS" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CacheType">
    <xs:sequence>
      <xs:element name="mode" type="CacheModeType"/>
      <xs:element name="localPath" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConstraintsType">
    <xs:sequence>
      <xs:element name="stripGeometry" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="lodFilter" type="LodFilterType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LodFilterType">
    <xs:sequence>
      <xs:element name="lod" type="xs:int" maxOccurs="unbounded"/>
    </xs:sequence>
    <xs:attribute name="mode" type="LodFilterModeType"/>
    <xs:attribute name="searchMode" type="LodSearchDepthModeType"/>
    <xs:attribute name="searchDepth" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="LoggingType">
    <xs:sequence>
      <xs:element name="console" type="ConsoleLogType" minOccurs="0"/>
      <xs:element name="file" type="FileLogType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsoleLogType">
    <xs:sequence/>
    <xs:attribute name="logLevel" type="LogLevelType" use="required"/>
  </xs:complexType>

  <xs:complexType name="FileLogType">
    <xs:sequence>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="logLevel" type="LogLevelType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="FeatureTypeNameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Building"/>
      <xs:enumeration value="Bridge"/>
      <xs:enumeration value="Tunnel"/>
      <xs:enumeration value="TransportationComplex"/>
      <xs:enumeration value="Road"/>
      <xs:enumeration value="Track"/>
      <xs:enumeration value="Square"/>
      <xs:enumeration value="Railway"/>
      <xs:enumeration value="CityFurniture"/>
      <xs:enumeration value="LandUse"/>
      <xs:enumeration value="WaterBody"/>
      <xs:enumeration value="PlantCover"/>
      <xs:enumeration value="SolitaryVegetationObject"/>
      <xs:enumeration value="ReliefFeature"/>
      <xs:enumeration value="GenericCityObject"/>
      <xs:enumeration value="CityObjectGroup"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CityGMLVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2.0"/>
      <xs:enumeration value="1.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EncodingMethodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="KVP"/>
      <xs:enumeration value="XML"/>
      <xs:enumeration value="KVP+XML"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DatabaseTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Oracle"/>
      <xs:enumeration value="PostGIS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CacheModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="database"/>
      <xs:enumeration value="local"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LodFilterModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="or"/>
      <xs:enumeration value="and"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LodSearchDepthModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="all"/>
      <xs:enumeration value="depth"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LogLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error"/>
      <xs:enumeration value="warn"/>
      <xs:enumeration value="info"/>
      <xs:enumeration value="debug"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

