WebContent/WEB-INF/schemas/config/config.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.gis.tu-berlin.de/3dcitydb-impexp/config" xmlns="http://www.gis.tu-berlin.de/3dcitydb-impexp/config" xmlns:ns1="http://www.opengis.net/ows/1.1" xmlns:tns="http://www.gis.tu-berlin.de/3dcitydb-impexp/config" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:import namespace="http://www.opengis.net/ows/1.1" schemaLocation="ows/schema4.xsd"/>

  <xs:element name="referenceSystems" type="databaseSrsList"/>

  <xs:element name="wfs" type="WFSConfigType"/>

  <xs:complexType name="WFSConfigType">
    <xs:sequence>
      <xs:element name="capabilities" type="CapabilitiesType" minOccurs="0"/>
      <xs:element name="featureTypes" type="FeatureTypesType"/>
      <xs:element name="operations" type="OperationsType" minOccurs="0"/>
      <xs:element name="database" type="DatabaseType"/>
      <xs:element name="server" type="ServiceType"/>
      <xs:element name="uidCache" type="CacheType" minOccurs="0"/>
      <xs:element name="logging" type="LoggingType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CapabilitiesType">
    <xs:sequence>
      <xs:choice minOccurs="0">
        <xs:element name="staticDocument" type="xs:string"/>
        <xs:element name="owsMetadata" type="OWSMetadataType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="OWSMetadataType">
    <xs:sequence>
      <xs:element ref="ns1:ServiceIdentification" minOccurs="0"/>
      <xs:element ref="ns1:ServiceProvider" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeatureTypesType">
    <xs:sequence>
      <xs:element name="featureType" type="FeatureTypeType" maxOccurs="unbounded"/>
      <xs:element name="version" type="CityGMLVersionType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FeatureTypeType">
    <xs:sequence>
      <xs:element name="name" type="FeatureTypeNameType"/>
      <xs:element ref="ns1:WGS84BoundingBox" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CityGMLVersionType">
    <xs:simpleContent>
      <xs:extension base="CityGMLVersion">
        <xs:attribute name="isDefault" type="xs:boolean"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="OperationsType">
    <xs:sequence>
      <xs:element name="useXMLValidation" type="xs:boolean" minOccurs="0"/>
      <xs:element name="GetFeature" type="GetFeatureOperationType" minOccurs="0"/>
      <xs:element name="DescribeFeatureType" type="DescribeFeatureTypeOperationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="GetFeatureOperationType">
    <xs:sequence>
      <xs:element name="outputFormat" type="GetFeatureOutputFormatType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DescribeFeatureTypeOperationType">
    <xs:sequence>
      <xs:element name="outputFormat" type="DescribeFeatureTypeOutputFormatType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatabaseType">
    <xs:sequence>
      <xs:element ref="referenceSystems" minOccurs="0"/>
      <xs:element name="connections" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="connection" type="ConnectionType" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="activeConnection" type="xs:IDREF" minOccurs="0"/>
      <xs:element name="updateBatching" type="UpdateBatchingType" minOccurs="0"/>
      <xs:element name="workspaces" type="WorkspacesType" minOccurs="0"/>
      <xs:element name="operation" type="DBOperationType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="databaseSrsList">
    <xs:sequence>
      <xs:element name="referenceSystem" type="DatabaseSrsType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DatabaseSrsType" final="extension restriction">
    <xs:sequence>
      <xs:element name="srid" type="xs:int"/>
      <xs:element name="gmlSrsName" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>

  <xs:complexType name="ConnectionType">
    <xs:sequence>
      <xs:element name="description" type="xs:string"/>
      <xs:element name="type" type="DatabaseTypeType"/>
      <xs:element name="server" type="xs:anyURI"/>
      <xs:element name="port" type="xs:positiveInteger"/>
      <xs:element name="sid" type="xs:string"/>
      <xs:element name="user" type="xs:string"/>
      <xs:element name="password" type="xs:string"/>
      <xs:element name="savePassword" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
    <xs:attribute name="initialSize" type="xs:int"/>
    <xs:attribute name="maxActive" type="xs:int"/>
    <xs:attribute name="maxIdle" type="xs:int"/>
    <xs:attribute name="minIdle" type="xs:int"/>
    <xs:attribute name="maxWait" type="xs:int"/>
    <xs:attribute name="testOnBorrow" type="xs:boolean"/>
    <xs:attribute name="testOnReturn" type="xs:boolean"/>
    <xs:attribute name="testWhileIdle" type="xs:boolean"/>
    <xs:attribute name="validationQuery" type="xs:string"/>
    <xs:attribute name="validatorClassName" type="xs:string"/>
    <xs:attribute name="timeBetweenEvictionRunsMillis" type="xs:int"/>
    <xs:attribute name="numTestsPerEvictionRun" type="xs:int"/>
    <xs:attribute name="minEvictableIdleTimeMillis" type="xs:int"/>
    <xs:attribute name="removeAbandoned" type="xs:boolean"/>
    <xs:attribute name="removeAbandonedTimeout" type="xs:int"/>
    <xs:attribute name="logAbandoned" type="xs:boolean"/>
    <xs:attribute name="connectionProperties" type="xs:string"/>
    <xs:attribute name="initSQL" type="xs:string"/>
    <xs:attribute name="validationInterval" type="xs:long"/>
    <xs:attribute name="jmxEnabled" type="xs:boolean"/>
    <xs:attribute name="fairQueue" type="xs:boolean"/>
    <xs:attribute name="abandonWhenPercentageFull" type="xs:int"/>
    <xs:attribute name="maxAge" type="xs:long"/>
    <xs:attribute name="useEquals" type="xs:boolean"/>
    <xs:attribute name="suspectTimeout" type="xs:int"/>
  </xs:complexType>

  <xs:complexType name="UpdateBatchingType">
    <xs:sequence>
      <xs:element name="featureBatchValue" type="xs:positiveInteger" default="20"/>
      <xs:element name="gmlIdCacheBatchValue" type="xs:positiveInteger" default="1000"/>
      <xs:element name="tempBatchValue" type="xs:positiveInteger" default="1000"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WorkspacesType">
    <xs:sequence>
      <xs:element name="import" type="WorkspaceType"/>
      <xs:element name="export" type="WorkspaceType"/>
      <xs:element name="kmlExport" type="WorkspaceType"/>
      <xs:element name="operations" type="WorkspaceType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="WorkspaceType">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="timestamp" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="DBOperationType">
    <xs:sequence>
      <xs:element name="lastUsed" type="DBOperationModeType" minOccurs="0"/>
      <xs:element name="boundingBoxFeatureClass" type="FeatureClassModeType" minOccurs="0"/>
      <xs:element name="boundingBoxSrs" type="xs:IDREF" minOccurs="0"/>
      <xs:element name="spatialIndex" type="xs:boolean"/>
      <xs:element name="normalIndex" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ServiceType">
    <xs:sequence>
      <xs:element name="externalServiceURL" type="xs:string"/>
      <xs:element name="maxParallelRequests" type="xs:int" minOccurs="0"/>
      <xs:element name="waitTimeout" type="xs:int" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CacheType">
    <xs:sequence>
      <xs:element name="mode" type="CacheModeType"/>
      <xs:element name="localPath" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="LoggingType">
    <xs:sequence>
      <xs:element name="console" type="ConsoleLogType" minOccurs="0"/>
      <xs:element name="file" type="FileLogType" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ConsoleLogType">
    <xs:sequence/>
    <xs:attribute name="logLevel" type="LogLevelType" use="required"/>
  </xs:complexType>

  <xs:complexType name="FileLogType">
    <xs:sequence>
      <xs:element name="fileName" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="logLevel" type="LogLevelType" use="required"/>
  </xs:complexType>

  <xs:simpleType name="FeatureTypeNameType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Building"/>
      <xs:enumeration value="Bridge"/>
      <xs:enumeration value="Tunnel"/>
      <xs:enumeration value="TransportationComplex"/>
      <xs:enumeration value="Road"/>
      <xs:enumeration value="Track"/>
      <xs:enumeration value="Square"/>
      <xs:enumeration value="Railway"/>
      <xs:enumeration value="CityFurniture"/>
      <xs:enumeration value="LandUse"/>
      <xs:enumeration value="WaterBody"/>
      <xs:enumeration value="PlantCover"/>
      <xs:enumeration value="SolitaryVegetationObject"/>
      <xs:enumeration value="ReliefFeature"/>
      <xs:enumeration value="GenericCityObject"/>
      <xs:enumeration value="CityObjectGroup"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CityGMLVersion">
    <xs:restriction base="xs:string">
      <xs:enumeration value="2.0"/>
      <xs:enumeration value="1.0"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="GetFeatureOutputFormatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="application/gml+xml; version=3.1"/>
      <xs:enumeration value="GML3.1+GZIP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DescribeFeatureTypeOutputFormatType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="application/gml+xml; version=3.1"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DatabaseTypeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Oracle"/>
      <xs:enumeration value="PostGIS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DBOperationModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="report"/>
      <xs:enumeration value="boundingBox"/>
      <xs:enumeration value="indexes"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="FeatureClassModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CityObject"/>
      <xs:enumeration value="Building"/>
      <xs:enumeration value="Bridge"/>
      <xs:enumeration value="CityFurniture"/>
      <xs:enumeration value="CityObjectGroup"/>
      <xs:enumeration value="GenericCityObject"/>
      <xs:enumeration value="LandUse"/>
      <xs:enumeration value="ReliefFeature"/>
      <xs:enumeration value="Transportation"/>
      <xs:enumeration value="Tunnel"/>
      <xs:enumeration value="Vegetation"/>
      <xs:enumeration value="WaterBody"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="CacheModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="database"/>
      <xs:enumeration value="local"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="LogLevelType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="error"/>
      <xs:enumeration value="warn"/>
      <xs:enumeration value="info"/>
      <xs:enumeration value="debug"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

